@page "/"

<PageTitle>Home</PageTitle>

<h1>Bienvenue dans BlazorGameQuest</h1>
<p>Utilisez le menu pour commencer une nouvelle aventure, consulter le classement ou accéder à l’espace admin.</p>
